@()

@navHeader = {
    About
}  

@main("About")( navHeader )(menu_default()) {

    <div class="sub_full">

       <div class="sub_content">
		   <h3 class='sub_content_header'>Where Did This Came From</h3>
           <p><strong>CloudFuzzy</strong> was conceived inside a research project named Gesplan. <br/>
           The original project was the result of a partnership between INT and COPPE/UFRJ, and supported by FAPERJ.</p>
             
       </div>
   	</div>
    
    <script type="text/javascript">
		window["has_intro"] = false;
    </script>
        
}