@()

@navHeader = {
    About
}  

@main("About")( navHeader )(menu_default()) {

    <div class="sub_full">

       <div class="sub_content">
		   <h3 class='sub_content_header'>Where did this came from</h3>
           <p><strong>CloudFuzzy</strong> was conceived inside a research project named 
           "GesPlan - Development of a system prototype for the production's master planing with intelligent mechanism in the decision's support".<br/>
           The original project was the result of a partnership between <strong>INT</strong>and <strong>COPPE/UFRJ</strong>, and supported by <strong>FAPERJ</strong>.</p>
           <p>The Gesplan system used the XFuzzy library to deal with the fuzzy inference algorithms development. <br/> 
           With the perspective of using the same tool in another project, it grew the need to build an online web interface to access the fuzzy algorithms present in the library.</p>
             
       </div>
       <div class="sub_content">
		   <h3 class='sub_content_header'>Where is this going</h3>
           <p>The main idea is to turn <strong>CloudFuzzy</strong> in a <strong>webservice</strong> application, <br/>
           allowing other systems to use it as the fuzzy inference engine, and fuzzy system modeling inside other projects, using a RESTful API.</p>             
       </div>
   	</div>
    
    <script type="text/javascript">
		window["has_intro"] = false;
    </script>
        
}