@()
<div id='top_menu' class="clearfix" >
        <a href="@routes.Application.index"><h1 class="logo">CloudFuzzy</h1></a>
        <nav>
            <a href="#">About</a>            
            <a href="#">Blog</a>
            <a href="#">FAQs</a>
            <div id="container_login">
                @if(session.get("email") != null){
                    <a id="user" href="@routes.Application.index">Usuario</a>
                    <a id="logout" href="@routes.Authentication.logout" >Logout</a>
                } else{
                    <a id="login" href="@routes.Authentication.login" onclick="return false;">Login</a>
                }
            </div>
        </nav> 
       

</div>  