@(fuzzySystem : FuzzySystem)

@import helper._

@fuzzy.system.system_template(fuzzySystem){   

    @defining(fuzzySystem.getSpecification()){ spec =>  

        <div class="sub_content sub_limited">
            <h3 class='sub_content_header'>Types for Linguistic Variables</h3>

                 @if(spec.getTypes().length <= 0){
                    <p>There are no Types yet.</br>
                    Create a <a href="@routes.Types.prepareCreate(fuzzySystem.id)">new one!</a></p>
                 } else {
                    <ul>
                    @for( i <- 0 to spec.getTypes().length-1 ) {
                        <li><a href="@routes.Types.detail(fuzzySystem.id, i)">
                                @spec.getTypes()(i).getName()
                        </a></li>
                     }
                    </ul>
                }
            <div class="actions">

                <form action="@routes.Types.prepareCreate(fuzzySystem.id)" method="GET" >
                    
                    <input type="submit" value="Add Type">
                                        
                </form>
            </div>
        </div>

        <div class="sub_content sub_limited">
            <h3 class='sub_content_header'>Operators Set</h3>

                 @if(spec.getOperatorsets().length <= 0){
                    <p>There are no Operators Set yet.</br>
                    Create a <a href="@routes.OperatorSets.prepareCreate(fuzzySystem.id)">new one!</a></p>
                 } else {
                    <ul>
                    @for( i <- 0 to spec.getOperatorsets().length-1 ) {
                        <li><a href="@routes.OperatorSets.detail(fuzzySystem.id, i)">
                                @spec.getOperatorsets()(i).getName()
                        </a></li>
                     }
                    </ul>
                }
                 
            <div class="actions">
                <form action="@routes.OperatorSets.prepareCreate(fuzzySystem.id)" method="GET" >
                    
                    <input type="submit" value="Add Operator Set">
                                        
                </form>
            </div>
        </div>


        <div class="sub_content sub_limited">
            <h3 class='sub_content_header'>Rule Bases</h3>

                 @if(spec.getRulebases().length <= 0){
                    <p>There are no Rule Bases yet.</br>
                    Create a <a href="@routes.RuleBases.prepareCreate(fuzzySystem.id)">new one!</a></p>
                 } else {
                    <ul>
                    @for( i <- 0 to spec.getRulebases().length-1 ) {
                        <li><a href="@routes.RuleBases.detail(fuzzySystem.id, i)">
                                @spec.getRulebases()(i).getName()
                        </a></li>
                     }
                    </ul>
                }
                 
            <div class="actions">
                <form action="@routes.RuleBases.prepareCreate(fuzzySystem.id)" method="GET" >
                    
                    <input type="submit" value="Add Rule Base">
                                        
                </form>
            </div>
        </div>

    }   
    
}