@(fuzzySystem : FuzzySystem)

@import helper._

@main(fuzzySystem.name)(fuzzy.system.menu(fuzzySystem)){   

    <div class="sub_content sub_limited">
        <h3 class='sub_content_header'>Types for Linguistic Variables</h3>
        @defining(fuzzySystem.getSpecification()){ spec =>

             @if(spec.getTypes().length <= 0){
                <p>There are no Types yet.</br>
                Create a <a href="@routes.Types.prepareCreate(fuzzySystem.id)">new one!</a></p>
             } else {
                <ul>
                @for( i <- 0 to spec.getTypes().length-1 ) {
                    <li><a href="@routes.Types.detail(fuzzySystem.id, i)">
                            @spec.getTypes()(i).getName()
                    </a></li>
                 }
                </ul>
            }
             
        }
        
    </div>
    
}