@(fuzzySystems: List[FuzzySystem])

@import helper._

@main("My Fuzzy Systems")(menu_default()){   
    <p>Here are presented the Fuzzy Systems created by you so far.</br>
    You can detail, modify and delete any of then, or create a new one.
    </p>
    @for(fuzzySystem <- fuzzySystems) {
        <div class="sub_content sub_limited">
            <h3 class='sub_content_header'>
                <a href="@routes.Systems.detail(fuzzySystem.id)">@fuzzySystem.name</a>
            </h3> 

                        <p>@fuzzySystem.description</p>
                        @***
                        @form(routes.Fuzzy.deleteSystem(fuzzySystem.id)) {
                            <input type="submit" value="Delete">
                        }
                        ***@
            <div class="actions">

                @form(routes.Systems.delete(fuzzySystem.id)) {
                    <input type="submit" value="Delete">
                }
            </div>
        </div>
    }
    
}