@(fuzzySystems: List[FuzzySystem])

@import helper._

@fuzzy.system.system_template{   
    <p>Here are presented the Fuzzy Systems created by you so far.</br>
    You can detail, modify and delete any of then, or create a new one.
    </p>
    @for(fuzzySystem <- fuzzySystems) {
        <div class="sub_content sub_limited">
            <h3 class='sub_content_header'>@fuzzySystem.name</h3> 

                        <a href="@routes.Systems.detail(fuzzySystem.id)">Detail</a>
                        <a href="@routes.Systems.detail(fuzzySystem.id)">Delete</a>
                        
                        @***
                        @form(routes.Fuzzy.deleteSystem(fuzzySystem.id)) {
                            <input type="submit" value="Delete">
                        }
                        ***@
        </div>
    }
    
}