@(fuzzySystems: List[FuzzySystem])

@import helper._

@fuzzy.system.system_template{   
    <div class="sub_content sub_limited">
        <h3 class='sub_content_header'>Your Fuzzy Systems: @fuzzySystems.size() system(s)</h3> 
        <ul>
            @for(fuzzySystem <- fuzzySystems) {
                <li>
                    <a href="#">@fuzzySystem.name</a>
                    
                    @***
                    @form(routes.Fuzzy.deleteSystem(fuzzySystem.id)) {
                        <input type="submit" value="Delete">
                    }
                    ***@
                </li>
            }
        </ul>
    </div>
    
}