@(systemForm: Form[FuzzySystem])

@import helper._

@navHeader = {
    My Fuzzy Systems
}  

@main("My Fuzzy Systems")(navHeader)(menu_default()){ 
    <div class="sub_content sub_limited">
        <h3 class='sub_content_header'>New Fuzzy System</h3> 
            @helper.form(action = routes.Systems.create, 'id -> "systemForm") {
                
                <fieldset>
                    <legend>New System Information</legend>
                    
                    @inputText(
                        systemForm("name"), 
                        '_label -> "Name", 
                        '_help -> "Please choose a valid Name for this Fuzzy system."
                    )          
                    @inputText(
                        systemForm("description"), 
                        '_label -> "Description", 
                        '_help -> "Descrive in feel words whats is this Fuzzy System about."
                    )              

                </fieldset>        
                
                <div class="actions">
                    <input type="submit" class="btn primary" value="Create">
                    <input type="button" class="btn secondary" value="Cancel"onclick="window.location = '@routes.Systems.list()' "/>
                </div>
                
            }
 
    </div>
    
}