.project
.settings
.classpath
extraFiles/xfls/*@*
*.sublime-*
extraFiles/*.db
cloudfuzzy/.target
cloudfuzzy/target
cloudfuzzy/project/target
cloudfuzzy/logs
.vagrant/*
cloudfuzzy/project/project/target/config-classes/*
