.project
.settings
.classpath
extraFiles/xfls/*@*
*.sublime-*
extraFiles/*.db
cloudfuzzy/.target/*
cloudfuzzy/target/*
cloudfuzzy/project/target/*
cloudfuzzy/project/project/*
cloudfuzzy/tmp/*
cloudfuzzy/logs/*
.vagrant/*
cloudfuzzy/project/project/target/config-classes/*
.metadata/*
cloudfuzzy/.gitignore
cloudfuzzy/RUNNING_PID
