{% extends "base.html" %}
{% load i18n %}

{% block page-title %}{{ block.super }} | {% trans "Sign In" %}{% endblock %}

{% block main-container %}
<div class="col-lg-12">

    <h1>{% trans "Sign In" %}</h1>

    <p>{% blocktrans %}If you have not created an account yet, then please
    <a href="/">sign up</a> first.{% endblocktrans %}</p>

    <form class="login form-horizontal" role="form" method="POST" action="{% url 'login' %}">
      {% csrf_token %}

        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                <a class="close" data-dismiss="alert">&times;</a>
                {% for non_field_error in form.non_field_errors %}
                     {{ non_field_error }}
                {% endfor %}
            </div>
        {% endif %}

        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}


        {% include 'utils/_bsform_field.html' with field=form.username field_type="text" %}

        {% include 'utils/_bsform_field.html' with field=form.password field_type="password" %}



      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}


      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-default" type="submit">Sign In</button>
        </div>
      </div>

    </form>

</div>
{% endblock %}
