
/* ===================
    HEADER
   =================== */

.logo {
    background: url(/static/img/cf_fill_32.png) no-repeat;
    background-size: 32px 32px;

    width: 32px;
    height: 32px;
    float: left;

    line-height: 35px;
    margin: 0px;
    padding: 0 50px;
    color: #FFD;
    text-shadow: black 0px 1px 7px;
    font-size: 20pt;
    font-weight:bold;
}


#container_login{
    height:26px;
    margin: 4px;
    float: right;
    border-radius: 7px;
    border: 1px solid #222;
    background: #363636;
    background: -moz-linear-gradient(#363636,#2A2A2A);
    background: -webkit-linear-gradient(#363636,#2A2A2A);
    padding: 0 10px;
}
#container_login a:hover{
    color: #fff;
}

#container_login .user {
    text-decoration: none;
    font-weight: bold;

    line-height: 26px;
    font-size: 14pt;
    color: #abf;
}
#container_login .login {
    text-decoration: none;
    font-weight: bold;

    padding:10px;
    line-height: 26px;
    color: #555;
}

.header-container,
.main aside {
    -webkit-box-shadow: 0 5px 10px #000;
       -moz-box-shadow: 0 5px 10px #000;
            box-shadow: 0 5px 10px #000;
}

.header-container{
    background: #555;
    background: -moz-linear-gradient(#555,#444);
    background: -webkit-linear-gradient(#555,#444);
}



.footer-container{
    box-shadow: 0px -1px 10px #000;
    height: 56px;
    background: #777;
}

/*           menu               */

#menu {

    box-shadow: 0px 3px 20px #000;
    border-radius: 10px;
    position: relative;
    float: left;

    width: 1026px;

    background: #ddd;
    background: -moz-linear-gradient(#EEE,#CCC);
    background: -webkit-linear-gradient(#EEE,#CCC);
    /*z-index: 100;*/
    list-style-image: none;
    list-style: none;
    list-style-type: none;
    font-family: helvetica;

    margin: 10px 0px 0px 0px;


}

#menu ul{

    margin: 0 10px;
    padding: 0;
    margin-bottom: 50px;

}

#menu li{


    list-style: none;

    float: left;

}

#menu  li a {

    display: block;
    text-align: center;
    height: 50px;
    width: 140px;
    line-height: 50px;

    text-decoration: none;


    padding: 0 12px;
    font-weight: bold;

    border-right: 1px solid #323235;
    border-left: 1px solid rgba(255, 255, 255, 0.2);

    background-image: -moz-linear-gradient(top, #535357, #3c3c3f);
    background-image: -ms-linear-gradient(top, #535357, #3c3c3f);
    background-image: -webkit-linear-gradient(top, #535357, #3c3c3f);
    background-image: linear-gradient(top, #535357, #3c3c3f);


    background: -moz-linear-gradient(#EEE,#CCC);
    background: -webkit-linear-gradient(#EEE,#CCC);

    color: #777;

    text-shadow: 0 1px 0 white;

}

#menu  .right_menu{
    border-right: none;

}

#menu .left_menu {
    border-left: none;

}

/* Content */
#content_area {
    box-shadow: 0px 3px 20px #000;
    border-radius: 10px;
    position: relative;
    float: left;

    width: 1006px;

    background: #ddd;
    background: -moz-linear-gradient(#EEE,#CCC);
    background: -webkit-linear-gradient(#EEE,#CCC);
    list-style-image: none;
    list-style: none;
    list-style-type: none;
    font-family: helvetica;

    margin: 40px 0px 40px 0px;
    padding: 0px 10px 2px;
    min-height: 390px;
}

.content-header {
    margin: 0px -10px 0px;
    padding: 5px 10px 2px;
    border-radius: 10px 10px 0 0;
    text-decoration: none!important;
    color: #555;
    border-bottom: 1px solid #AAA;
    background: #DDD;

    font-size: 1.5em;
    font-weight: bold;
}
.content_header a{
    text-decoration: none;
}




/********************************-SUB-CONTENT--********************************/

.sub-full {
    position: relative;
    float: left;
    width: 100%;
}

.sub-left, .sub-right {
    width: 50%;
}

.sub-left {
    float: left;
}

.sub-right {
    float: right;
}

.sub-content {
    box-shadow: 0px 1px 2px #000;
    border-radius: 10px;
    position: relative;

    background: #ddd;
    background: -moz-linear-gradient(#EED,#CCB);
    background: -webkit-linear-gradient(#EED,#CCB);
    font-family: helvetica;

    margin: 8px 10px 26px 10px;
    padding: 0px 10px 2px;

}

.sub-content-header {
margin: 0px -10px 0px;
padding: 5px 10px 2px;
border-radius: 10px 10px 0 0;
text-decoration: none!important;
color: #555;
border-bottom: 1px solid #AA9;
background: #DDC;
}

.actions{
    margin: 0px -10px -2px;
    padding: 5px 10px 2px;
    border-radius: 0px 0px 10px 10px;
    text-decoration: none!important;
    color: #555;
    border-top: 1px solid #AA9;
    background: #DDC;
}
