{% extends "bootstrap/bootstrap_h5bp.html" %}

{% load staticfiles %}

{% block page-title %}CloudFuzzy{% endblock %}
{% block meta-description %}CloudFuzzy - The Online Fuzzy Toolbox Solution.{% endblock %}
{% block meta-keywords %}{% endblock %}
{% block meta-author %}Felipe Arruda Pontes{% endblock %}
{% block meta-generator %}{% endblock %}
{% block meta-extras %}{% endblock %}

{% block django-h5bp-js %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{% static "jquery/dist/jquery.min.js" %}"><\/script>')</script>

<script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>
{% endblock %}


{% block css-extras %}
    <link rel="stylesheet" href="{% static "css/main.css" %}">
{% endblock %}

{% block navbar-brand %}<a class="navbar-brand" href="/">CloudFuzzy</a>{% endblock %}


{% block navbar-right %}
<div class="nav navbar-right">
  <ul class="nav navbar-nav">
    {% if request.user.is_authenticated %}

    <li><a href="#">{{ request.user.email }}</a></li>
    <li><span ><a class="btn btn-default navbar-btn" href="{% url 'logout' %}">Sign Out</a></span></li>
    {% else %}
    <li><span ><a class="btn btn-success navbar-btn" href="{% url 'login' %}">Sign In</a></span></li>

    {% endif %}
  </ul>
</div>
{% endblock %}


{% block main-jumbotron %}
{% endblock %}


{% block main-container %}
    {% if request.user.is_authenticated %}
        <div ng-app="{% block ng_app %}cloudfuzzy.app.users{% endblock %}">
            <div ng-controller="{% block ng_controller %}AppController{% endblock %}">
                {% block controller-content %}{% endblock %}
            </div>
        </div>
    {% else %}

        <div>
        </div>

    {% endif %}
{% endblock %}

{% block footer %}
<p>&copy; CloudFuzzy 2014</p>
{% endblock %}


{% block js-imports %}
<script src="{% static "underscore/underscore.js" %}"></script>
<script src="{% static "angular/angular.js" %}"></script>
<script src="{% static "angular-resource/angular-resource.js" %}"></script>
<script src="{% static "angular-route/angular-route.js" %}"></script>
<script src="{% static "js/script.js" %}"></script>
{% endblock %}




{% block analytics %}
{% endblock %}

{% block jquery-docready %}
{% endblock %}

{% block jquery-winload %}{% endblock %}

{% block js-onpage %}

// Add the CSRF Token
var app = angular.module('cloudfuzzy.api'); // Not including a list of dependent modules (2nd parameter to `module`) "re-opens" the module for additional configuration
app.config(['$httpProvider', function($httpProvider) {
    $httpProvider.defaults.headers.common['X-CSRFToken'] = '{{ csrf_token|escapejs }}';
}]);
{% endblock %}