{% extends "bootstrap/bootstrap_h5bp.html" %}

{% load staticfiles %}

{% block page-title %}CloudFuzzy{% endblock %}
{% block meta-description %}CloudFuzzy - The Online Fuzzy Toolbox Solution.{% endblock %}
{% block meta-keywords %}{% endblock %}
{% block meta-author %}{% endblock %}
{% block meta-generator %}{% endblock %}
{% block meta-extras %}{% endblock %}

{% block django-h5bp-css %}
<link rel="stylesheet" href="{% static "bootstrap/dist/css/bootstrap.min.css" %}">
<style>
    body {
        padding-top: 100px;
        padding-bottom: 20px;
    }
</style>
<link rel="stylesheet" href="{% static "bootstrap/dist/css/bootstrap-theme.min.css" %}">
{% endblock %}



{% block django-h5bp-js %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{% static "jquery/dist/jquery.min.js" %}"><\/script>')</script>

<script src="{% static "bootstrap/dist/js/bootstrap.min.js" %}"></script>
{% endblock %}


{% block css-extras %}
    <link rel="stylesheet" href="{% static "css/style.css" %}">
{% endblock %}



{% block navbar-right %}
        {% if user.is_authenticated %}
        <form class="navbar-form navbar-right" action="{% url 'logout' %}">
            <div class="form-group">
              <span type="text" placeholder="Email" class="form-control">{{user}}</span>
                <button type="submit" class="btn label-default">Sign out</button>
            </div>
        </form>
        {% else %}
        <form class="navbar-form navbar-right" action="{% url 'login' %}" method="POST">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
                <button type="submit" class="btn btn-success">Sign in</button>
        </form>
        {% endif %}
{% endblock %}

{% block header %}
    <a href="/"><span class="logo">CloudFuzzy</span></a>
    <div id="container_login">
        {% if user.is_authenticated %}
            <a class="user" href="/">{{user}}</a>
            <a class="login" href="/logout">Logout</a>
        {% else %}
            <a class="login" href="/login">Login</a>
        {% endif %}
    </div>
{% endblock %}

{% block main-jumbotron %}
{% endblock %}


{% block main-container %}
<div ng-app="{% block ng_app %}cloudfuzzy.app.users{% endblock %}">
    <div ng-controller="{% block ng_controller %}AppController{% endblock %}">
        {% block controller-content %}{% endblock %}
    </div>
</div>
 {% endblock %}

{% block footer %}
<p>&copy; CloudFuzzy 2014</p>
{% endblock %}


{% block js-imports %}
<script src="{% static "underscore/underscore.js" %}"></script>
<script src="{% static "angular/angular.js" %}"></script>
<script src="{% static "angular-resource/angular-resource.js" %}"></script>
<script src="{% static "angular-route/angular-route.js" %}"></script>
<script src="{% static "js/script.js" %}"></script>
{% endblock %}



