{% extends "base.html" %}

{% block ng_app %}cloudfuzzy.app.systems{% endblock %}
{% block ng_controller %}AppController{% endblock %}

{% block controller-content %}

<div class="row">

    {% verbatim %}
    <div class="col-lg-12" ng-repeat="object in obj_list">
        <h3><a href="{{ object.url }}" >{{ object.name }}</a></h3>

        <p>
            {{ system.description }}
        </p>

        <button class="btn btn-default" ng-click="get(object)">Detail</button>
    </div>
    {% endverbatim %}


    {% verbatim %}
    <div class="col-lg-12" ng-if="detailed_obj" >
        <h3><a href="{{ detailed_obj.url }}" >{{ detailed_obj.name }}</a></h3>

        <p>
            {{ detailed_obj.description }}
        </p>

    </div>
    {% endverbatim %}

</div>

{% endblock %}
