{% extends "h5bp.html" %}

{% block css-extras %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
{% endblock %}

{% block header %}
<a href="/"><span class="logo">CloudFuzzy</span></a>
<div id="container_login">
    <a class="user" href="/">test@test.com</a>
    <a class="login" href="/logout">Logout</a>
</div>
{% endblock %}

{% block main-container %}
<nav id="menu">
    <ul>
        <li><a class="left_menu" href="/system/list">Back</a></li>
        <li><a href="#">Verification</a></li>
        <li><a href="#">Synthesis</a></li>
        <li><a class="right_menu" href="/system/2/print">XFL</a></li>
    </ul>
</nav>
<div id="content_area">
    <header class="content-header">
        bla
    </header>

    <div class="sub-full">
        <div class="sub-left">
            <div class="sub-content">
                <h3 class="sub-content-header">Types for Linguistic Variables</h3>


                        <p>There are no Types yet.<br>
                        Create a <a href="/system/2/type/new">new one!</a></p>

                <div class="actions">

                    <form action="/system/2/type/new" method="GET">

                        <input type="submit" value="Add Type">

                    </form>
                </div>
            </div>

            <div class="sub-content">
                <h3 class="sub-content-header">Types for Linguistic Variables2</h3>


                        <p>There are no Types yet.<br>
                        Create a <a href="/system/2/type/new">new one!</a></p>

                <div class="actions">

                    <form action="/system/2/type/new" method="GET">

                        <input type="submit" value="Add Type">

                    </form>
                </div>
            </div>

        </div>
        <div class="sub-right">
            <div class="sub-content">
                <h3 class="sub-content-header">Types for Linguistic Variables3</h3>


                        <p>There are no Types yet.<br>
                        Create a <a href="/system/2/type/new">new one!</a></p>

                <div class="actions">

                    <form action="/system/2/type/new" method="GET">

                        <input type="submit" value="Add Type">

                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="sub-full">
        <div class="sub-content">
            <h3 class="sub-content-header">Types for Linguistic Variables4</h3>


                    <p>There are no Types yet.<br>
                    Create a <a href="/system/2/type/new">new one!</a></p>

            <div class="actions">

                <form action="/system/2/type/new" method="GET">

                    <input type="submit" value="Add Type">

                </form>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block footer %}
<h3>footer</h3>
{% endblock %}
