@(signupForm: Form[User])

@import helper._

  
@main("Register")(menu_default()) {

    @helper.form(action = routes.Authentication.submit, 'id -> "registerForm") {
        
        <fieldset>
            <legend>Account informations</legend>
            
            @inputText(
                signupForm("name"), 
                '_label -> "Name", 
                '_help -> "Please choose a valid Name.",
                '_error -> signupForm.globalError
            )
            
            @inputText(
                signupForm("email"), '_label -> "Email",
                '_help -> "Enter a valid email address."
            )
            
            @inputPassword(
                signupForm("password"), 
                '_label -> "Password",
                '_help -> "A password must be at least 6 characters. "
            )
            
            @inputPassword(
                signupForm("repeatPassword"), 
                '_label -> "Repeat password",
                '_help -> "Please repeat your password again.",
                '_error -> signupForm.error("password")
            )
            
        </fieldset>
        
        <fieldset>
            
            @checkbox(
                signupForm("accept"), 
                '_label -> None, '_text -> "You aggree the Terms and conditions",
                '_showConstraints -> false
            )
            
        </fieldset>
        
        <div class="actions">
            <input type="submit" class="btn primary" value="Sign Up">
            <a href="@routes.Application.index" class="btn">Cancel</a>
        </div>
        
    }
    
}