{% extends "base.html" %}


{% block main-container %}
<div ng-app="{% block ng_app %}cloudfuzzy.app.systems{% endblock %}">

<script type=text/ng-template id="list.html">
    {% include 'systems/_ng_list.html' %}
</script>


<script type=text/ng-template id="detail.html">
    {% include 'systems/_ng_detail.html' %}
</script>

<script type=text/ng-template id="new.html">
    {% include 'systems/_ng_new.html' %}
</script>


    <div ng-view>
        {% block controller-content %}{% endblock %}
    </div>
</div>

 {% endblock %}

{% block js-onpage %}
{{block.super}}
// Configure the current user
var app = angular.module('cloudfuzzy.api');

app.factory('AuthUser', function() {
    return {
        username: "{{ request.user.username|default:''|escapejs }}"
    }
});

{% endblock js-onpage %}