{% extends "base.html" %}


{% block main-container %}
<div ng-app="{% block ng_app %}cloudfuzzy.app.systems{% endblock %}">

<script type=text/ng-template id="list.html">
    {% verbatim %}
    <div class="row">
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li><a href="#">Library</a></li>
          <li class="active">Data</li>
        </ol>
    </div>

    <div class="row">

    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    </div>

    <div class="row">
        <div class="col-lg-4" ng-repeat="system in systems">
            <h3>{{ system.name }}</h3>
            <button ng:click="detail(system)">Detail</button>

        </div>
    </div>
    {% endverbatim %}
</script>


<script type=text/ng-template id="detail.html">
    {% verbatim %}
    <div class="col-lg-12">
        <h3>{{ system.name }}</h3>
        <p>{{system.description}}</p>

    </div>
    {% endverbatim %}
</script>



    <div ng-view>
        {% block controller-content %}<p>aaa</p>{% endblock %}
    </div>
</div>

 {% endblock %}