{% extends "base.html" %}


{% block main-container %}
<div ng-app="{% block ng_app %}cloudfuzzy.app.systems{% endblock %}">

<script type=text/ng-template id="list.html">
    {% verbatim %}
    <div class="row">
        <div class="col-lg-4">
        </div>
        <div class="col-lg-4">
            <div class="btn-group center-block">
              <button type="button" class="btn btn-default">Left</button>
              <button type="button" class="btn btn-default">Middle</button>
              <button type="button" class="btn btn-default">Right</button>
            </div>
        </div>
        <div class="col-lg-4">
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4" ng-repeat="system in systems">
            <h3>{{ system.name }}</h3>
            <button ng:click="detail(system)">Detail</button>

        </div>
    </div>
    {% endverbatim %}
</script>


<script type=text/ng-template id="detail.html">
    {% verbatim %}
    <div class="col-lg-12">
        <h3>{{ system.name }}</h3>
        <p>{{system.description}}</p>

    </div>
    {% endverbatim %}
</script>



    <div ng-view>
        {% block controller-content %}<p>aaa</p>{% endblock %}
    </div>
</div>

 {% endblock %}